body{
    background-color: cadetblue;
}

h1{
color: red;
font-family: Arial, helvetica, sans-serif;
font-size: 70px;
font-style:italic;
text-transform: uppercase;
text-align: center;
text-decoration: underline;
background-color: #2d6a4f;
}

h2{
    color: green;
    font-family: Arial, helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
    text-transform: lowercase;
    text-align: center;
} 

h3{
    text-transform: capitalize;
   font-size: 30px;
   color: purple;
   text-align: center;
}

p{
    font-size:35px;
    text-indent: 55px;
}